@page "/"
@page "/visualizer"

@using PathfindingVisualizer.Models
@using PathfindingVisualizer.Components
@using PathfindingVisualizer.Algorithms

@inject IJSRuntime _jsRuntime

<h3>Visualizer</h3>

@if (_grid != null)
{
    foreach (var row in _grid)
    {
        <div class="row">
            @foreach (var node in row)
            {
                <div class="zoom-in">
                    <NodeSquare OnClick="@(() => Toggle(node))" Node="node"></NodeSquare>
                </div>
            }
        </div>
    }
    <hr/>
    <button class="btn btn-primary" @onclick="Start">Start</button>
    <button class="btn btn-primary" @onclick="SetUpGrid">Reset</button>
    
}


@code {
        private int _rows = 20;
        private int _columns = 35;

    private bool _isStartSet;
    private bool _isEndSet;

    private Node[][] _grid;
    private (int X, int Y) _start;
    private (int X, int Y) _end;

    protected override async Task OnInitializedAsync()
    {
        var dimensions = await _jsRuntime.InvokeAsync<WindowDimensions>("getDimensions");
        _rows = (dimensions.Height - 200) / 35;
        _columns = (dimensions.Width - 100 ) / 35;

        SetUpGrid();
    }

    private void SetUpGrid()
    {
        _grid = new Node[_rows][];
        for (var row = 0; row < _rows; row++)
        {
            _grid[row] = new Node[_columns];
            for (var col = 0; col < _columns; col++)
            {
                _grid[row][col] = new Node
                {
                    Position = (col, row),
                    State = NodeState.Empty
                };
                _grid[row][col].ObservedState += StateChanged;
            }
        }
        
        _start = (_columns / 3, _rows / 2);
        _grid[_start.Y][_start.X].State = NodeState.Start;
        _isStartSet = true;
        
        _end = (_columns / 3 * 2, _rows / 2);
        _grid[_end.Y][_end.X].State = NodeState.End;
        _isEndSet = true;
    }
    
    private void StateChanged(NodeState newState)
    {
        Task.Run(async() => await InvokeAsync(StateHasChanged));
    }

    private async Task Start()
    {
        AStar algorithm = new()
        {
            Grid = _grid
        };

        var path = await algorithm.FindPathAsync(
            _grid[_start.Y][_start.X],
            _grid[_end.Y][_end.X]
            );
    }
    
    private void Toggle(Node node)
    {
        if (!_isStartSet)
        {
            _isStartSet = node.SetStart();
            _start = node.Position;
            return;
        }
        
        if (!_isEndSet)
        {
            _isEndSet =  node.SetEnd();
            _end = node.Position;
            return;
        }

        switch (node.State)
        {
            case NodeState.Start:
                _isStartSet = false;
                break;
            case NodeState.End:
                _isEndSet = false;
                break;
        }
        node.Toggle();
    }

}